<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <title>Francis Rodgers - IT Consultant.</title>
    <link href="~/SiteContent/_Layout.css" rel="stylesheet" />
    <link href="~/SiteContent/Index.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <div id="Loading">
        <img src="~/SiteContent/kitt_lights_animation.gif" />
    </div>

</body>
</html>
<script src="~/Libraries/jquery-2.1.4.min.js"></script>
<script src="~/SiteContent/Index.js"></script>


