.Container
{
    display: flex;
    justify-content: space-between;
}

.Left
{
    width: 400px;
    align-self: center;
}

.Right
{
    width: 300px;
}

.Planets
{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

    .Planets:hover
    {
        cursor: pointer;
    }

.Distance
{
    text-align: center;
}

#Loading
{
    display: none;
    background-color: gray;
    z-index: 999999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 300px;
    filter: alpha(opacity-75);
    opacity: 0.75;
}
