<h1>PlanetDatabase.com</h1>

<div class="Container">
    <div class="Left">
        <div>Welcome to PlanetDatabase.com</div><br />
        <div>Please see the list of planets in our solar system on the right hand side.</div>
    </div>

    <div class="Right">
        <div id="PlanetMercury" class="Planets">
            <div class="PlanetName">Mercury</div>
            <div class="Distance"></div>
        </div>
        <div id="PlanetVenus" class="Planets">
            <div class="PlanetName">Venus</div>
            <div class="Distance"></div>
        </div>
        <div id="PlanetEarth" class="Planets">
            <div class="PlanetName">Earth</div>
            <div class="Distance"></div>
        </div>
        <div id="PlanetMars" class="Planets">
            <div class="PlanetName">Mars</div>
            <div class="Distance"></div>
        </div>
        <div id="PlanetJupiter" class="Planets">
            <div class="PlanetName">Jupiter</div>
            <div class="Distance"></div>
        </div>
        <div id="PlanetSaturn" class="Planets">
            <div class="PlanetName">Saturn</div>
            <div class="Distance"></div>
        </div>
        <div id="PlanetUranus" class="Planets">
            <div class="PlanetName">Uranus</div>
            <div class="Distance"></div>
        </div>
        <div id="PlanetNeptune" class="Planets">
            <div class="PlanetName">Neptune</div>
            <div class="Distance"></div>
        </div>
    </div>
</div>

