<h1>PlanetDatabase.com</h1>

<div class="Container">
    <div class="Left">
        <div>Welcome to PlanetDatabase.com</div><br />
        <div>Please see the list of planets in our solar system on the right hand side.</div>
    </div>

    <div class="Right">
        <div id="PlanetMercury" class="Planets">
            Mercury
        </div>
        <div class="Distance">
            57,900,000 km from Sun
        </div>
        <div id="PlanetVenus" class="Planets">
            Venus
        </div>
        <div class="Distance">
            108,000,000 km from Sun
        </div>
        <div id="PlanetEarth" class="Planets">
            Earth
        </div>
        <div class="Distance">
            150,000,000 km from Sun
        </div>
        <div id="PlanetMars" class="Planets">
            Mars
        </div>
        <div class="Distance">
            228,000,000 km from Sun
        </div>
        <div id="PlanetJupiter" class="Planets">
            Jupiter
        </div>
        <div class="Distance">
            778,000,000 km from Sun
        </div>
        <div id="PlanetSaturn" class="Planets">
            Saturn
        </div>
        <div class="Distance">
            1,430,000,000 km from Sun
        </div>
        <div id="PlanetUranusy" class="Planets">
            Uranus
        </div>
        <div class="Distance">
            2,870,000,000 km from Sun
        </div>
        <div id="PlanetNeptune" class="Planets">
            Neptune
        </div>
        <div class="Distance">
            4,500,000,000 km from Sun
        </div>
    </div>
</div>