@{
    ViewBag.Title = "PlanetDistance";
}

<h2>PlanetDistance</h2>

@using (Html.BeginForm())
{
    <button id="btnGetPlanet">Get Planet</button>
    <input id="txtPlanetName" type="text" value="Earth" />
    <div id="lblMessage"></div>
}



